#story {
	margin-top: 30px;
  font-family: verdana;
	/* margin-right: 30px !important; */
}

input[type="text"] {
  background-color: #000000;
  color: #ffffff;
}

#ui-bar {
color: #fff;
background-color: #000c;
font-family: verdana;
}

html, body {
  	position: absolute;
	min-width: 100%;
    min-height: 100vh;
}

.image #story {
  	margin-left: 10em;
}
.image #passages {
	max-width: 72em;
}
.image #ui-bar {
color: #fff;
background-color: #000;
}

div.companion > img {
  border-radius: 20px;
}

.layerTitle {
  font-family: copperplate gothic bold;
  font-size: 300%
}

.relicTitle {
  font-size: 150%;
  font-weight: bold
}

.say-nameB{
  font-weight: bold;
  font-size:18px
}

.gdr1{
  color: deepskyblue;
  font-size:18px
}

.gdr2{
  color: aqua;
  font-size:18px
}

.gdr3{
  color: beige;
  font-size:18px
}

.gdr4{
  color: lavenderblush;
  font-size:18px
}

.gdr5{
  color: LightPink;
  font-size:18px
}

.gdr6{
  color: HotPink;
  font-size:18px
}

/*doll voice*/
.gdr98{
  color: ghostwhite;
  font-size:18px
}

/*chain of lorelei voice*/
.gdr99{
  color: LightPink;
  font-style: italic;
  font-size:18px
}

/*chain of lorelei voice*/
.alert1{
  color: rgb(255, 123, 0);
  font-size:16px
}

.alert2{
  color: rgb(255, 0, 0);
  font-size:16px
}

body.start {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/wipbackground.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.start #story {
  	background-color: #111b;
}

body.surface {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/surface-background.png);
  background-attachment: fixed;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.surface #story {
  	background-color: #111b;
}

body.layer1 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l1background.png);
  /*background-attachment: fixed;*/
  background-size: 1024px;
  /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer1 #story {
  	background-color: #111b;
}

body.layer2 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l2background-lowres.png);
  /*background-attachment: fixed;*/
  background-size: 356px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer2 #story {
  	background-color: #111b;
}

body.layer3 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l3background.png);
  /*background-attachment: fixed;*/
  background-size: 1449px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer3 #story {
  	background-color: #111b;
}

body.layer4 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l4background.png);
  /*background-attachment: fixed;*/
  background-size: 1140; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer4 #story {
  	background-color: #111b;
}

body.layer5 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l5background.png);
  /*background-attachment: fixed;*/
  background-size: 1024px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer5 #story {
  	background-color: #111b;
}

body.layer6 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l6background.png);
  /*background-attachment: fixed;*/
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer6 #story {
  	background-color: #111b;
}

body.layer7 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l7background.png);
  /*background-attachment: fixed;*/
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer7 #story {
  	background-color: #111b;
}

body.layer8 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l8background.png);
  /*background-attachment: fixed;*/
  background-size: 865px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer8 #story {
  	background-color: #111b;
}

body.layer9 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l9background.png);
  /*background-attachment: fixed;*/
  background-size: 852px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer9 #story {
  	background-color: #111b;
}

body.layer10 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/starbackgrounds/stars3.gif);
  /*background-attachment: fixed;*/
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.layer10 #story {
  	background-color: #111b;
}

body.raison {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/smaragdine-background.png);
  /*background-attachment: fixed;*/
  background-size: 1920px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}
.raison #story {
  	background-color: #111b;
}
