#story {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: calc(100vh - 60px);
  font-family: verdana, sans-serif;
  background-color: #111b;
}

.layer11 #story {
  background-color: rgba(0, 0, 0, 0);
}

input[type="text"] {
  background-color: #000;
  color: #fff;
}

.floatl {
  float: left;
  margin-right: 1.5em;
}

.floatr {
  float: right;
  margin-left: 1.5em;
}

#ui-bar {
color: #fff;
background-color: #000c;
font-family: verdana, sans-serif;
}

#ui-bar-body>:not(:first-child) {
  margin-top: 1em;
}

html, body {
  	position: absolute;
	min-width: 100%;
    min-height: 100vh;
}

#passages {
  padding: 3rem 1rem;
}

#passages > div > :first-child {
  margin-top: 0;
}

#passages > div > :last-child {
  margin-bottom: 0;
}

.layerTitle {
  margin: 0 calc(27em - 600px);
  text-align: center;
}

.layerTitle > h1, h1.gameover {
  font-family: Copperplate, "Copperplate Gothic", fantasy;
  font-weight: normal;
  font-size: 300%;
  text-transform: uppercase;
}

.layerTitle > h1:first-child {
  margin-top: 0;
}

.cards #passages {
  max-width: unset;
}

.cards #passages h1 {
  font-style: italic;
  text-align: center;
}

.cards p {
  max-width: 54em;
  margin: 28px auto;
}

.image #story {
  	margin-left: 10em;
}

.image #passages {
	max-width: 72em;
}

.image #ui-bar {
color: #fff;
background-color: #000;
}

div.companion > img, div.item > img {
  border-radius: 20px;
}

div.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  padding: 0 0;
}

div.cards-grid > div {
  background: #000a;
  border: 8px solid transparent;
  border-image: url("images/bordershop.png") 82 / 20px / 10px round;
  box-shadow: 0 0 4px 0 black;
  width: min-content;
  line-height: 1.5;
  text-align: center;
  margin: 32px 10px;
  padding: 8px;
}

div.cards-grid.cards-wide > div {
  min-width: 632px;
}

div.cards-grid h2 {
  font-style: italic;
  margin: 0;
}

div.cards-grid img {
  width: 354px;
  height: 354px;
  border-radius: 16px;
  margin: 8px;
}

div.cards-grid.cards-wide img {
  width: unset;
  height: unset;
}

div.cards-grid-gold {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  padding: 0 0;
}

div.cards-grid-gold > div {
  background: #000a;
  border: 8px solid transparent;
  border-image: url("images/bordergold.png") 82 / 20px / 10px round;
  box-shadow: 0 0 4px 0 black;
  width: min-content;
  line-height: 1.5;
  text-align: center;
  margin: 32px 10px;
  padding: 8px;
}

div.cards-grid-gold.cards-wide > div {
  min-width: 632px;
}

div.cards-grid-gold h2 {
  font-style: italic;
  margin: 0;
}

div.cards-grid-gold img {
  width: 354px;
  height: 354px;
  border-radius: 16px;
  margin: 8px;
}

div.cards-grid-gold.cards-wide img {
  width: unset;
  height: unset;
}

#passage-surface-shop-1 div.cards-grid img, #passage-balloon-store1 div.cards-grid img {
  width: 250px;
  height: 250px;
}

div.cards-gridThreat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  padding: 0 0;
}

div.cards-gridThreat > div {
  background: rgba(65, 0, 29, 0.667);
  border: 8px solid transparent;
  border-image: url("images/bordershop.png") 82 / 20px / 10px round;
  box-shadow: 0 0 4px 0 black;
  width: min-content;
  line-height: 1.5;
  text-align: center;
  margin: 32px 10px;
  padding: 8px;
}

div.cards-gridThreat.cards-wide > div {
  min-width: 632px;
}

div.cards-gridThreat h2 {
  font-style: italic;
  margin: 0;
}

div.cards-gridThreat img {
  width: 354px;
  height: 354px;
  border-radius: 16px;
  margin: 8px;
}

div.cards-gridThreat.cards-wide img {
  width: unset;
  height: unset;
}

#passage-surface-shop-1 div.cards-grid img, #passage-balloon-store1 div.cards-grid img {
  width: 250px;
  height: 250px;
}

#passage-vend-o-matic-6900-site div.cards-grid {
  background: #245ca8;
  box-shadow: inset 0 0 6px 0 black;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#passage-vend-o-matic-6900-site div.cards-grid > div {
  border: 1.5px inset #122d52;
  border-radius: 32px;
  padding: 20px;
  margin: 32px 8px;
}

#passage-vend-o-matic-6900-site div.cards-grid img, #passage-vend-o-matic-6900-site div.cards-grid button {
  box-shadow: 0 0 16px 4px #99c;
}

p.cost {
  font-style: italic;
  margin-top: 0;
}

.unreachable, .warning {
  color: #ff8080;
}

.say-nameB{
  font-weight: bold;
  font-size:18px
}

.gdr1{
  color: deepskyblue;
  font-size:18px
}

.gdr2{
  color: aqua;
  font-size:18px
}

.gdr3{
  color: beige;
  font-size:18px
}

.gdr4{
  color: lavenderblush;
  font-size:18px
}

.gdr5{
  color: lightpink;
  font-size:18px
}

.gdr6{
  color: hotpink;
  font-size:18px
}

/* doll voice */
.gdr98{
  color: ghostwhite;
  font-size:18px
}

/* chain of lorelei voice */
.gdr99{
  color: lightpink;
  font-style: italic;
  font-size:18px
}

/* Bot voice */
.gdr100{
  color: rgb(136 228 56);
  font-weight: bold;
  font-size:18px
}

/* chain of lorelei voice */
.alert1{
  color: rgb(255 123 0);
  font-size:16px
}

.alert2{
  color: rgb(255 0 0);
  font-size:16px
}

.check{
  color: rgb(0 255 76);
  font-size:16px
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

body.surface {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/surface-background.png");
  background-attachment: fixed;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer1 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l1background.png");

  /* background-attachment: fixed; */
  background-size: 1024px;

  /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer2 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l2background-lowres.png");

  /* background-attachment: fixed; */
  background-size: 356px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer3 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l3background.png");

  /* background-attachment: fixed; */
  background-size: 1449px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer4 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l4background.png");

  /* background-attachment: fixed; */
  background-size: 1140px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer5 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l5background.png");

  /* background-attachment: fixed; */
  background-size: 1024px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer6 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l6background.png");

  /* background-attachment: fixed; */
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer7 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l7background.png");

  /* background-attachment: fixed; */
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer8 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l8background.png");

  /* background-attachment: fixed; */
  background-size: 865px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer9 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/l9background.png");

  /* background-attachment: fixed; */
  background-size: 852px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer10 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/Backgrounds/stars3.gif");

  /* background-attachment: fixed; */
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.layer11 {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: white;
  color: black;



  /* background-attachment: fixed; */
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.ouroboros {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: white;
  background-image: url("images/Finale/ouroborosbackground.png");
  color: white;



  background-attachment: fixed;
  background-size: contain; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.raison {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/smaragdine-background.png");

  /* background-attachment: fixed; */
  background-size: 1920px; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}

body.indoor {
  background-image: url("images/wood%20background.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
}

body.start, body.balloon {
  /* background: linear-gradient(135deg, red, blue); */
  background-color: #111;
  background-image: url("images/wipbackground.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF; */
}


/* ### custom UI elements ### */
.toggle {
  border: thin solid white;
  display: inline-block;
  width: max-content;
}

.toggle-item {
  --padding: 1ex;
  /* Add one pixel to the left for the border */
  padding: var(--padding);
  padding-left: calc(var(--padding) + 1px);
  display: inline-block;
}

.toggle-item:not(.selected) {
  color: rgba(223, 223, 223, 0.8);
}

 /* add a border to the left of every element that is not the first, selected, or to the right of the selected one */
.toggle-item:not(.selected):not(:first-child):not(.selected + *) {
  background: linear-gradient(to bottom, transparent 15%, #555 25%, #555 75%, transparent 85%) left/1px no-repeat;
}

.toggle-item.selected {
  background: #1c4785;
}

.toggle-item.selected.on {
  background: #0d520d;
}

.toggle-item.selected.off {
  background: #721313;
}

/* the selected element "eats" the border pixel of the one to its right */
.toggle-item.selected:not(:last-child) {
  padding-right: calc(var(--padding) + 1px);
}

/* drop the border pixel in the element that follows the selected one */
.selected + .toggle-item {
  padding-left: var(--padding);
}


/* Text fade styles for L8 habitation */

.fade-text-1 {
  color: #800000;
  opacity: 1.0;
  font-weight: bold;
  text-decoration: underline;
}

.fade-text-2 {
  color: #800000;
  opacity: 0.8;
}

.fade-text-3 {
  color: #800000;
  opacity: 0.6;
}

.fade-text-4 {
  color: #800000;
  opacity: 0.4;
}

.fade-text-5 {
  color: #800000;
  opacity: 0.2;
}

.habitationL8 {
  color: #800000;
}


.endingImage {
  margin: 0 calc(27em - 600px);
  text-align: center;
}

img.half-size {
  width: 512px;
  height: auto;
}

.small-gray-text {
  font-size: 0.8em;
  color: rgb(128, 128, 128);
}

.smallbreak {
  display: block;
  height: 0.5em; /* Adjusts the height of the line break */
}

.sidebar-item img {
  height: 1em;  /* 1em is equivalent to the font-size of the parent element, which in this case would be the text */
  width: auto;  /* This ensures the aspect ratio of the icon is preserved */
  vertical-align: middle;
  filter: invert(1);  /* Inverts the colors. 1 means 100% inversion. */
  display: inline;
}

.sidebar-item {
  white-space: nowrap; /* This prevents wrapping inside the sidebar item */
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #E0E0E0;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  transition: width 0.4s ease, background-color 0.4s ease; /* added transition for color as well */
}

.party-icon img {
  height: 4em;  
  width: auto;  /* This ensures the aspect ratio of the icon is preserved */
  vertical-align: middle;
  display: inline;
}

.icon img {
  height: 1.5em;  /* 1em is equivalent to the font-size of the parent element, which in this case would be the text */
  width: auto;  /* This ensures the aspect ratio of the icon is preserved */
  vertical-align: middle;
  filter: invert(1);  /* Inverts the colors. 1 means 100% inversion. */
  display: inline;
}

@keyframes flash{
  to {
	color: rgba(0, 0, 0, 0);
	text-shadow: 1px 2px 6px rgb(188, 188, 188), 0 0 10px rgb(188, 188, 188);
  }
}

@keyframes eldritchPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); filter: blur(1px);}
  100% { transform: scale(1); }
}

:not(.accessible *) {
	.elder-entity& {
	  font-family: 'Cinzel', serif;
	  font-size: 2rem;
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	  animation: eldritchPulse 5s infinite;
	  display: block;
	}

	.elder-entity .light& {
	  position: relative;
	  display: inline-block;
	  animation: flash 3s ease-out alternate infinite;
	  text-shadow: 1px 2px 4px rgb(188, 188, 188);
	}
}

.bordered {
  border: 8px solid;
  /* border-image should be overwritten on the element, but we leave it here as a fallback in case it isn't */
  border-image: url("images/bordershop.png") 82 / 20px / 10px round;
  box-shadow: 0 0 4px 0 black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}

.bordered > img {
  border-radius: 15%;
  max-width: 100%;
  align-self: center;
}

.relicToggles {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.relicToggleEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}

#slideshow {
  position: relative;
  width: 700px; /* Set the width of the slideshow container */
  height: 700px; /* Set the height of the slideshow container */
  overflow: hidden; /* This will clip any part of the images that exceed the container's size */
}

#slideshow img {
  position: absolute;
  width: 700px; /* Set the width of the images */
  height: 700px; /* Set the height of the images */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image in the container */
  opacity: 0;
  animation-name: fadeSlideshow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 25s; /* This is 5 images * 5 seconds each */
}

#slideshow img:nth-of-type(1) {
  animation-delay: 0s;
}
#slideshow img:nth-of-type(2) {
  animation-delay: 5s;
}
#slideshow img:nth-of-type(3) {
  animation-delay: 10s;
}
#slideshow img:nth-of-type(4) {
  animation-delay: 15s;
}
#slideshow img:nth-of-type(5) {
  animation-delay: 20s;
}

@keyframes fadeSlideshow {
  0%, 100% { opacity: 0; }
  6%, 24% { opacity: 1; } /* 6% = 5s/20s and 24% = 19s/20s giving 1s for fade in and out */
  25%, 100% { opacity: 0; }
}

.medium-img {
  width: 700px;
  height: 700px;
}

.reset-button button{
  background-color: rgb(153, 0, 0); /* Red background */
  color: white; /* White text color for better contrast */
  border: none; /* Removes the default border */
}

#story-title {
  padding-top: 20px; /* Adjust the 20px to increase or decrease the space */
}

#story-author {
  display: none;
}

#notification {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdddd;
  border: 1px solid #ffcccc;
  color: #d8000c;
  display: none;
}

.wanted-text {
  font-family: 'Western', serif;
  font-size: 42px;
  font-weight: bold;
  color: #ff4136;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.criminal-name {
  font-family: 'Western', serif;
  font-size: 28px;
  color: #8b4513;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.status {
  font-family: 'Western', sans-serif;
  font-size: 20px;
  color: #f0f0f0;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reward-text {
  font-family: 'Western', serif;
  font-size: 32px;
  color: #ff4136;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  margin-top: 12px;
  margin-bottom: 12px;
}

.bounty {
  font-family: "Georgia", sans-serif;
  font-size: 24px;
  color: #ffd700;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}