#story {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: calc(100vh - 60px);
  font-family: verdana, sans-serif;
  background-color: #111b;
}

input[type="text"] {
  background-color: #000000;
  color: #ffffff;
}

.floatl {
  float: left;
  margin-right: 1.5em;
}
.floatr {
  float: right;
  margin-left: 1.5em;
}

#ui-bar {
color: #fff;
background-color: #000c;
font-family: verdana, sans-serif;
}

html, body {
  	position: absolute;
	min-width: 100%;
    min-height: 100vh;
}

#passages {
  padding: 3rem 1rem;
}
#passages > div > :first-child {
  margin-top: 0;
}
#passages > div > :last-child {
  margin-bottom: 0;
}

.cards #passages {
  max-width: unset;
}
.cards #passages h1 {
  font-style: italic;
  text-align: center;
}
.cards p {
  max-width: 54em;
  margin: 28px auto;
}

.image #story {
  	margin-left: 10em;
}
.image #passages {
	max-width: 72em;
}
.image #ui-bar {
color: #fff;
background-color: #000;
}

div.companion > img, div.item > img {
  border-radius: 20px;
}

div.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  padding: 0 16px;
}
div.cards-grid > div {
  background: #000a;
  border: 8px solid transparent;
  border-image: url(images/bordershop.png) 82 / 20px / 10px round;
  box-shadow: 0px 0px 4px 0px black;
  width: min-content;
  line-height: 1.5;
  text-align: center;
  margin: 32px 16px;
  padding: 8px;
}
div.cards-grid h2 {
  font-style: italic;
  margin: 0;
}
div.cards-grid img {
  width: 354px;
  height: 354px;
  border-radius: 16px;
  margin: 8px;
}
#passage-surface-shop-1 div.cards-grid img, #passage-balloon-store1 div.cards-grid img {
  width: 250px;
  height: 250px;
}
#passage-layer7-vend div.cards-grid {
  background: #245ca8;
  box-shadow: inset 0px 0px 6px 0px black;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#passage-layer7-vend div.cards-grid > div {
  border: 1.5px inset #122d52;
  border-radius: 32px;
  padding: 20px;
  margin: 32px 8px;
}
#passage-layer7-vend div.cards-grid img, #passage-layer7-vend div.cards-grid button {
  box-shadow: 0px 0px 16px 4px #9999cc;
}
p.cost {
  font-style: italic;
  margin-top: 0;
}
.unreachable, .warning {
  color: #ff8080;
}

.layerTitle {
  margin: 0 calc(27em - 600px);
  text-align: center;
}
.layerTitle > h1, h1.gameover {
  font-family: copperplate gothic bold;
  font-weight: normal;
  font-size: 300%;
  text-transform: uppercase;
}
.layerTitle > h1:first-child {
  margin-top: 0;
}

.say-nameB{
  font-weight: bold;
  font-size:18px
}

.gdr1{
  color: deepskyblue;
  font-size:18px
}

.gdr2{
  color: aqua;
  font-size:18px
}

.gdr3{
  color: beige;
  font-size:18px
}

.gdr4{
  color: lavenderblush;
  font-size:18px
}

.gdr5{
  color: LightPink;
  font-size:18px
}

.gdr6{
  color: HotPink;
  font-size:18px
}

/*doll voice*/
.gdr98{
  color: ghostwhite;
  font-size:18px
}

/*chain of lorelei voice*/
.gdr99{
  color: LightPink;
  font-style: italic;
  font-size:18px
}

/*chain of lorelei voice*/
.alert1{
  color: rgb(255, 123, 0);
  font-size:16px
}

.alert2{
  color: rgb(255, 0, 0);
  font-size:16px
}

body.surface {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/surface-background.png);
  background-attachment: fixed;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer1 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l1background.png);
  /*background-attachment: fixed;*/
  background-size: 1024px;
  /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer2 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l2background-lowres.png);
  /*background-attachment: fixed;*/
  background-size: 356px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer3 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l3background.png);
  /*background-attachment: fixed;*/
  background-size: 1449px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer4 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l4background.png);
  /*background-attachment: fixed;*/
  background-size: 1140; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer5 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l5background.png);
  /*background-attachment: fixed;*/
  background-size: 1024px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer6 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l6background.png);
  /*background-attachment: fixed;*/
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer7 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l7background.png);
  /*background-attachment: fixed;*/
  background-size: 900px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer8 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l8background.png);
  /*background-attachment: fixed;*/
  background-size: 865px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer9 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/Backgrounds/l9background.png);
  /*background-attachment: fixed;*/
  background-size: 852px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.layer10 {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/starbackgrounds/stars3.gif);
  /*background-attachment: fixed;*/
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.raison {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/smaragdine-background.png);
  /*background-attachment: fixed;*/
  background-size: 1920px; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}

body.indoor {
  background-image: url(images/wood%20background.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
}

body.start, body.balloon {
  /*background: linear-gradient(135deg, red, blue);*/
  background-color: #111111;
  background-image: url(images/wipbackground.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; /* maybe contain, based on the image and goals
  color: #FFFFFF;*/
}


/*dynamic avatar*/

#menu_portrait {
}

#avatarUI {
	width: 360;
	height: 800;
	float: left;
	margin-right: 20 ;
	background-color: gray;
}

#avatarFace {
	width: 240px;
	height: 240px;
	margin-bottom: 0.5em;
	/* position: absolute;
	top: 390px;
	left: 45px; */
}

#avatarContainer {
	width: 240;
	padding: 0 2.5em;
	margin-left: -10px;
	margin-top: 40px;
}
